 body {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: 100%; 
	text-align: center;
 }
 #wrapper {
 	height: 600px;
 	width: 600px;
 	margin: 0 auto;
 	margin-top: 50px;
 	padding: 20px;
 	text-align: center;
 	background-color: white;
 	border: solid black;
 }

h1 {
	font-style: georgia;
	font-style: italic;
	font-size: 60pt;
	padding: 30px;
}
h2 {
	font-style: georgia;
	font-size: 20pt;
	padding-bottom:20px;
}
#question {
	font-family: bold;
	font-size: 30pt;
	padding-bottom: 20px;
}
#answers {
	font-style: georgia;
	font-size: 20pt;
	padding: 10px;
}