html,body {
  height:100%;
  text-align: center;
  vertical-align: middle;
}

 #background {
  height: 100%;
  width: 100%;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	text-align: center;
  padding-top:50px;
  padding-bottom: 50px;
  margin: 0 auto;
 }
 #wrapper {
 	height: 80%;
 	width: 60%;
 	margin: 0 auto;
 	padding: 20px;
 	text-align: center;
  vertical-align: middle;
 	background-color: white;
 	opacity: 0.95;
 	border: solid black;
 }

#start {
	height:auto;
	width: auto;
	background-color: white;
	font-style: georgia;
	font-size: 14pt;
}

h1 {
	font-style: georgia;
	font-style: italic;
	font-size: 50pt;
	padding: 20px;
	margin-top:20px;
}

button {
	display: block;
	font-style: georgia;
	font-size: 14pt;
	background: white;
	margin:0 auto;
	margin-top:20px;

}

#quiz {
	font-family: bold;
	font-size: 20pt;
	padding-bottom: 20px;
	text-align: center;
}

@media only screen and (max-width: 980px) {
	#wrapper {
    height: 80%;
    width: 60%;
  }

}

@media only screen and (max-width: 768px) {
  #wrapper {
    height: 80%;
    width: 60%;
  }
  h1 {
    font-size: 40pt;
  }
  #start {
    	font-size: 13pt;
  }
  button {
    font-size: 13pt;
  }
  #container {
    height: 100%;
  }
}

@media only screen and (max-width: 640px) {
  #wrapper {
    height: 80%;
    width: 60%;
  }
  h1 {
    font-size: 30pt;
    padding: 15px;
  }
  #start {
    	font-size: 12pt;
  }
  button {
    font-size: 12pt;
  }
  #container {
    height: 100%;
  }
}
@media only screen and (max-width: 400px) {
  #wrapper {
    height: 80%;
    width: 60%;
  }
  h1 {
    font-size: 20pt;
    padding: 10px;
  }
  #start {
    	font-size: 10pt;
  }
  button {
    font-size: 10pt;
  }
  .questions {
    font-size 10pt;
  }
  #container {
    height: 100%;
  }
}
